[submodule "home/.vim/bundle/rooter"]
	path = home/.vim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/vimwiki"]
	path = home/.vim/bundle/vimwiki
	url = https://github.com/weierophinney/vimwiki.git
[submodule "home/.vim/bundle/EasyMotion"]
	path = home/.vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "home/.vim/bundle/zencoding-vim"]
	path = home/.vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
