[submodule "home/.vim/bundle/rooter"]
	path = home/.vim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/vimwiki"]
	path = home/.vim/bundle/vimwiki
	url = https://github.com/weierophinney/vimwiki.git
[submodule "home/.vim/bundle/EasyMotion"]
	path = home/.vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
